
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:weight;
  font-style:normal;
  font-variation-settings:"wdth" 100;

}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    text-align: center;
    color:white;
    padding:15px 38px;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}
.primary-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
header nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header nav span{
    color:green;
}
.nav-title{
    color: #181818;
    font-family:Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
header nav ul {
    display: flex;
    align-items:center;
    

}
header nav ul li{
    margin-right: 50px;
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: #474747;
}
.banner{
    display: flex;
    align-items: center;
    padding: 30px 30px 0px 150px;
    justify-content: space-between;
    
}
.banner-content{
    max-width: 500px;
    
}
.banner .profile-pic{
    width: 500px;
    
    
}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner-h3{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
   
}
.banner-h1{
    font-size: 75px;
    font-style: 700;
    margin-top: 2px;
    margin-bottom: 0;
    
}
.banner-p{
    margin-top: 7px;
    
}
main{
    max-width: 1140px;
    background-color: #FD6E0A;
    margin: auto;
    
    
}
.about{
    padding: 150px;
    border-radius: 10px;
    margin: 130px 0;
}
.about p{
    color: #474747;
    text-align: center;
    font-size: 18px;
}
.cls{
    
}
.about-info-des{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.about-info h4{
    margin-bottom: 0;
}
.about-info p{
    margin-top: 5px;
}